@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(218, 211, 211);
    padding: 20px;
}

/*Main page header*/
.main-header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 25px 15px;
    color: black;

}

/*Layout container*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

/*Card component*/
.card {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    flex: 1 1 300px;
}

/*Card header*/
.card-header {
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: flex;
    font-weight: normal;
    align-items: center;
    gap: 20px;

}


/*Card logo*/
.card-logo {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-color: white;
    flex-shrink: 0;
    max-width: 40%;
}

/*Card description*/
.card-text {
    font-family: 'Open Sans', sans-serif;
    font-style: oblique;
    ;
    background-color: white;
    color: rgb(52, 50, 50);
    margin-top: 25px;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    flex: 1;
}


/*Card link*/
.card-link {
    background-color: white;
    color: blue;
}


img {
    width: 120%;
    height: auto;
    display: block;
    flex-shrink: 0;
}

/*Desktop layout*/
@media (min-width: 768px) {
    .card {
        flex-direction: row;
        align-items: flex-start;
    }

    .card img {
        width: 60%;

    }

    .container {
        flex-direction: column;
        justify-content: center;
    }
}