@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(218, 211, 211);
    padding: 20px;
}

/*Layout container*/
.container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  

}

/*Desktop layout*/
@media (min-width: 768px) {
    .card{
        flex-direction: row;
        align-items: flex-start;
        gap: 20x;
    }
}

/*Main page header*/
    .main-header{
        text-align: center;
        margin: 25px 0;
        color: black;
        font-weight: 700;

    }

    /*Card component*/
    .card{ 
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    }

 /*Card header*/
   .card-header{   
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: flex;
    font-weight:normal ;
    align-items: center;
    gap: 20px ;
    margin:0;

    }
  
    /*Card logo*/
    .card-logo{
        display: flex;
        justify-content: left;
         align-items: flex-end;
        background-color: white;
        flex-shrink: 0;
        }

      /*Card description*/
     .card-text{
        font-family: 'Open Sans', sans-serif;
        background-color: white;
         color: rgb(52, 50, 50);
        gap: 15px;
        line-height: 1.5;
     }
       
     /*Card link*/
     .card-link{
       background-color: white;
     color: blue;
    }
